*.DS_Store
.idea/
.vscode/
cpmac/.vscode/
node_modules/
cpmac/.nsbuildinfo
cpmac/hooks/
cpmac/platforms/
cpmac/app/App_Resources/
cpmac/app/shared/res/files/conodes.toml
cpmac/package-lock.json
conode/co1/
conode/co2/
conode/co3/
conode/public.toml
