@import "../../../app-variables";

#count {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  height: 15%;
  width: 100%;
  font-size: 25%;
  color: white;
  background-color: $accent-dark;
}