@import '../../../app-variables';
.fab-button {
  height: 50;
  width: 50; /// this is required on iOS - Android does not require width so you might need to adjust styles
  margin: 15;
  background-color: $accent_dark;
  horizontal-align: right;
  vertical-align: bottom;
}